<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link rel="stylesheet" href="../../public/styles/categories-page.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include("../layout/navbar")%></header>
    <main>
      <!--Display category -->
      <div class="category-container">
        <%if (locals.categoryList.length > 0) {%>
        <%locals.categoryList.forEach(items => {%>
        <section id="<%=items.id %>" class="category-wrapper">
          <a class="visit-category-link" href="/api/category/<%=items.id  %>">
            <p class="category-title"><%= items.name %></p>
            <img
              class="category-img"
              src="/<%= items.cover_img_src %>"
              alt="category-image"
            />
          </a>
        </section>
        <%}); %> <% }else{%>

        <div class="add-category-msg">
          <h2>No categories available</h2>
          <p>
            Please add one from
            <a class="add-category-link" href="/inventory/category/create"
              >here.</a
            >
          </p>
        </div>
        <%} %>
      </div>
    </main>
  </body>
</html>
