<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link
      rel="stylesheet"
      href="../../public/styles/category-descriptions.css"
    />
    <link
      rel="shortcut icon"
      href="../../public/assets/inventory.png"
      type="image/x-icon"
    />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%-include("../layout/navbar") %></header>
    <main class="category-details-page">
      <% if (categoryDetails.length > 0) { %> <%categoryDetails.forEach(item =>
      {%>
      <section class="category-details-wrapper">
        <img class="category-image" src="/<%= item.cover_img_src%>" alt="" />
        <div>
          <h2 class="category-title"><%= item.name %></h2>
          <div class="edit-delete__container">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
          </div>
        </div>
        <p class="category-descriptions"><%= item.descriptions %></p>
      </section>
      <%}); %> <%if(items.length>0){ %>
      <h3 class="items-title">Items</h3>
      <div class="books-wrapper">
        <% items.forEach(book=>{%>
        <a href="/inventory/items/<%=book.id %>">
          <section class="book-container">
            <p class="book-name"><%=book.book_name%></p>
            <img
              class="book-cover-img"
              src="/<%=book.cover_img_src %>"
              alt=""
            />
          </section>
        </a>

        <% }) %> <%} %>
      </div>
      <dialog>
        <div class="modal__container">
          <h3>Are you sure?</h3>
          <div>
            <button class="yes-btn">Yes</button>
            <button class="no-btn">No</button>
          </div>
        </div>
      </dialog>
      <% }else{ %>
      <h2 class="category-error-message"><%=errorMessage %></h2>
      <%} %>
    </main>

    <script>
      const dialog = document.querySelector("dialog");
      const editBtn = document.querySelector(".edit-btn");
      const deleteBtn = document.querySelector(".delete-btn");
      const yesBtn = document.querySelector(".yes-btn");
      const noBtn = document.querySelector(".no-btn");

      deleteBtn.addEventListener("click", (e) => {
        dialog.showModal();
      });
      yesBtn.addEventListener("click", async (e) => {
        try {
          const response = await fetch(
            "/inventory/category/delete/<%=categoryDetails[0].id %>",
            {
              method: "delete",
            }
          );
          if (response.status === 200) {
            window.location.href = "/inventory/categories";
          }
          console.log("response", response);
        } catch (error) {
          console.log("Error on deleting category item: " + err);
        }

        dialog.close();
      });
      noBtn.addEventListener("click", (e) => {
        dialog.close();
      });
    </script>
  </body>
</html>
