<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link
      rel="stylesheet"
      href="../../public/styles/category-descriptions.css"
    />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%-include("../layout/navbar") %></header>
    <main>
      <% if (categoryDetails.length > 0) { %> <%categoryDetails.forEach(item =>
      {%>
      <section class="category-details-wrapper">
        <img class="category-image" src="/<%= item.cover_img_src%>" alt="" />
        <h2 class="category-title"><%= item.name %></h2>
        <p class="category-descriptions"><%= item.descriptions %></p>
      </section>
      <%}); %> <% }else{ %>
      <h2 class="category-error-message"><%=errorMessage %></h2>
      <%} %>
    </main>
  </body>
</html>
