<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link rel="stylesheet" href="../../public/styles/item-description.css" />
    <link
      rel="shortcut icon"
      href="../../public/assets/inventory.png"
      type="image/x-icon"
    />
    <title><%= title %></title>
  </head>
  <body>
    <header><%- include("../layout/navbar") %></header>
    <main>
      <% if (bookData.length > 0) { %> <% bookData.forEach(book => { %>
      <div class="book__wrapper">
        <img class="book__img" src="/<%=book.cover_img_src%>" alt="" />
        <div class="book__information">
          <div>
            <h1 class="book__title"><%= book.book_name %></h1>
            <button class="delete-btn">Delete</button>
          </div>
          <p class="book__price">$<%=book.price %></p>
          <div class="book__category">
            <% book.category_name.forEach(category => { %>
            <a
              class="book__category__link"
              href="/inventory/categories/<%=category.id%>"
            >
              <span class="book__category__title"><%=category.value %></span>
            </a>
            <% }) %>
          </div>
          <p class="book__pages">
            <span class="book__pages-bold">Page: </span><%=book.number_of_pages
            %>
          </p>
          <p class="book__authors">
            <span class="book__authors-bold">Authors: </span><%=book.authors %>
          </p>
          <p class="book__releaseDate">
            <span class="book__releaseDate-bold">Released:</span>
            <%=book.released.toDateString() %>
          </p>
          <p class="book__descriptions"><%=book.description %></p>
        </div>
        <dialog>
          <div class="modal__container">
            <h3>Are you sure?</h3>
            <div>
              <button class="yes-btn">Yes</button>
              <button class="no-btn">No</button>
            </div>
          </div>
        </dialog>
      </div>
      <% }) %> <% }else{ %>
      <h1 class="error-item-not-found"><%=errorMessage %></h1>
      <% } %>
    </main>

    <script>
      const dialog = document.querySelector("dialog");
      const deleteBtn = document.querySelector(".delete-btn");
      const yesBtn = document.querySelector(".yes-btn");
      const noBtn = document.querySelector(".no-btn");

      deleteBtn.addEventListener("click", (e) => {
        dialog.showModal();
      });
      yesBtn.addEventListener("click", async (e) => {
        try {
          const response = await fetch(
            "/inventory/items/delete/<%=bookData[0].id %>",
            {
              method: "delete",
            }
          );
          if (response.status === 200) {
            window.location.href = "/inventory/items";
          }
          console.log("response", response);
        } catch (error) {
          console.log("Error on deleting category item: " + err);
        }

        dialog.close();
      });
      noBtn.addEventListener("click", (e) => {
        dialog.close();
      });
    </script>
  </body>
</html>
