<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link rel="stylesheet" href="../../public/styles/item-pages.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header><%-include("../layout/navbar") %></header>
    <main>
      <div class="items__wrapper">
        <%if(itemList.length>0){%> <% itemList.forEach(item => { %>
        <a href="items/<%=item.id  %>">
          <section class="item__wrapper">
            <img
              class="item__image"
              src="/<%=item.cover_img_src %>"
              alt="<%=item.description%>"
            />
            <p class="item__title"><%= item.name %></p>
          </section>
        </a>
        <% }) %> <% }else{ %>
        <h2 class="items__add-item-msg">
          No Items.Please add an item from
          <a class="items_add-link" href="/inventory/category/create">here.</a>
        </h2>
        <% } %>
      </div>
    </main>
  </body>
</html>
