<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/styles/css-reset.css" />
    <link rel="stylesheet" href="../../public/styles/add-items-page.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include("../layout/navbar") %></header>
    <main>
      <h1>Create Item</h1>
      <form id="item-form" action="/inventory/item/create" method="post">
        <div>
          <label for="book-name">Name*:</label>
          <input type="text" name="name" id="book-name" autocomplete="none" />
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "name")%> <%} %>
          </p>
        </div>

        <div>
          <label for="book-descriptions">Descriptions*:</label>
          <textarea
            name="descriptions"
            id="book-descriptions"
            cols="30"
            rows="10"
          ></textarea>
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "descriptions")%> <%}
            %>
          </p>
        </div>
        <div>
          <label for="book-authors">Authors*:</label>
          <input type="text" name="authors" id="book-authors" />
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "authors")%> <%} %>
          </p>
        </div>
        <div>
          <label for="book-pages">Pages*:</label>
          <input type="number" name="pages" id="book-pages" min="0" />
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "pages")%> <%} %>
          </p>
        </div>
        <div>
          <label for="book-price">Price*:</label>
          <input type="number" name="price" id="book-price" min="0" />
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "price")%> <%} %>
          </p>
        </div>
        <div class="categories">
          <p class="categories-title">Categories*:</p>
          <!-- Generate checkbox based on categories table in the db -->
          <% if (categories.length>0) { %> <% categories.forEach(element => { %>
          <div>
            <input
              type="checkbox"
              name="category"
              id="category<%=element.id%>"
              value="<%= element.id%>"
            />
            <label for="category<%=element.id%>"><%=element.name%></label>
          </div>
          <% }) %>
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "category")%> <%} %>
          </p>
          <% }else{ %>
          <p>
            Please add a category from
            <a href="/inventory/category/create">here</a>.
          </p>
          <%} %>
        </div>
        <div>
          <label for="book-release-date">Release date*:</label>
          <input type="date" name="release" id="book-release-date" />
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "release")%> <%} %>
          </p>
        </div>
        <div>
          <label for="book-cover">Cover image*:</label>
          <input
            accept="image/*"
            type="file"
            name="bookCoverImg"
            id="book-cover"
          />
          <p class="error-msg">
            <%if(validateErrors.length>0){%> <%=
            helperFunctions.filterErrorMsg(validateErrors, "bookCoverImg")%> <%}
            %>
          </p>
        </div>
        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
  <script>
    const itemFormEl = document.querySelector("#item-form");

    const checkboxesEl = document.querySelectorAll(
      ".categories >div> input[type=checkbox]"
    );

    // add custom validity msg if no checkbox is selected
    function validateCheckbox() {
      const firstCheckBox = checkboxesEl.length > 0 ? checkboxesEl[0] : null;

      // total checked item
      const totalCheckedCheckbox = itemFormEl.querySelectorAll(
        "input[type=checkbox]:checked"
      ).length;

      totalCheckedCheckbox < 1
        ? firstCheckBox.setCustomValidity("At least check one category")
        : firstCheckBox.setCustomValidity("");
      return totalCheckedCheckbox < 1;
    }

    if (checkboxesEl.length > 0) {
      checkboxesEl.forEach((checkBox) => {
        checkBox.addEventListener("change", validateCheckbox);
      });
    }
    // validateCheckbox();

    // itemFormEl.addEventListener("submit", (event) => {
    //   // prevent the from sending
    //   if (validateCheckbox()) {
    //     event.preventDefault();
    //   }
    // });
  </script>
</html>
